 
.container{
    
    margin: 10%;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -1%;
    

}
.clearfix{
   
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
}
.calc {
    padding-bottom:20px ;
	margin-top: 30px;
	margin-bottom: 80px;
    margin-right: 50px;
	padding:1px 40px;
	/* border:5px solid #AB6C6C; */
	background-color: #303f44;
	clear: both;
    opacity: 0.8;
}
#result {
	color: rgb(202, 58, 58);
  font-size: 85px;
  text-shadow: 1px 1px 1px #646161;
	height: 150px;
}
#tot{
    height: 9vh;
    width: 10%;
    clear:right;
    color:red;
    border: 3px solid blue;
    margin-left: 60%;
    font-size:  15px; 
    background-color: lightgray;
}
 
body{
    
    background-image: url(qq.png);
    background-position: auto center;   
    background-repeat: no-repeat;
}
 

.img{
    height: 10%;
    width: 10%;
    border-radius: 80%;
}
.pa{
    font-weight: bold;
    font-size: large;
}
 
 
  
    
 
.first {
    color: white;
    /* border: 2px solid red; */
    margin-top: 1px;
    float: left;
    margin-left: 28px;
 }
 .first img{
    width: 79px;
    display: block;
    margin: auto;

 }
 .sec {
     display: block;
     width: 36%;
     margin: 29px auto;
     color: white;
     /* border: 2px solid red; */
     
     


  }
 .navbar{
     display: inline-block;
 }

 .navbar li{
     display: inline-block;
     font-size: 16px;

 }
 .navbar li a {
     text-decoration: none;
     color: white;
     padding: 34px 23px;
 } 
  
 .navbar li a:hover{
     color: rgb(195, 191, 209);
 }
 .h{
    color: white;
    font-size:large;
 }

 @media screen and (min-width: 0px)and (max-width:1000px)  {
     
.container{
    
    margin: 10%;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -1%;
    

}
.clearfix{
   
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
}
.calc {
    padding-bottom:20px ;
	margin-top: 30px;
	margin-bottom: 80px;
    margin-right: 50px;
	padding:1px 40px;
	/* border:5px solid #AB6C6C; */
	background-color: #303f44;
	clear: both;
    opacity: 0.8;
}
#result {
	color: rgb(202, 58, 58);
  font-size: 85px;
  text-shadow: 1px 1px 1px #646161;
	height: 150px;
}
#tot{
    height: 9vh;
    width: 10%;
    clear:right;
    color:red;
    border: 3px solid blue;
    margin-left: 60%;
    font-size:  15px; 
    background-color: lightgray;
}
 
body{
    
    background-image: url(qq.png);
    background-position: auto center;   
    background-repeat: no-repeat;
}
 

.img{
    height: 10%;
    width: 10%;
    border-radius: 80%;
}
.pa{
    font-weight: bold;
    font-size: large;
}
 
 
  
    
 
.first {
    color: white;
    /* border: 2px solid red; */
    margin-top: 1px;
    float: left;
    margin-left: 28px;
 }
 .first img{
    width: 79px;
    display: block;
    margin: auto;

 }
 .sec {
     display: block;
     width: 36%;
     margin: 29px auto;
     color: white;
     /* border: 2px solid red; */
     
     


  }
 .navbar{
     display: inline-block;
 }

 .navbar li{
     display: inline-block;
     font-size: 16px;

 }
 .navbar li a {
     text-decoration: none;
     color: white;
     padding: 34px 23px;
 } 
  
 .navbar li a:hover{
     color: rgb(195, 191, 209);
 }
 .h{
    color: white;
    font-size:large;
 }
 }